<div class="hang-tight">
  Hang tight, the game is about to begin
<% if current_user.name == 'Ian Florentino' || current_user.name == 'Ran Craycraft' || current_user.name == 'Kevin Ng' || current_user.name == 'Wildebeest' %>
  <%= button_to "START GAME", start_game_path, class: 'play-btn' %>
<% end %>
</div>
<div class="bottom-nav">
    <ul>
      <li class="active">1. Auth</li>
      <li class="active">2. Edit</li>
      <li class="active">3. Play</li>
    </ul>
</div>
