<main role="main">
	<h3>1st Round</h3>
	<div class="bracket">
	<% @game.bracket[1].each do |p| %>
	<ul>
		<div class="player-box">
			<% p.each do |e| %>
			<li>
				<%= image_tag(e.profile_image, class: 'profile-pic') %><br>
				<%=e.name %>
				<div class="profile-info" style="display: none;">
				<ul>
					<li><%=e.name %></li>
					
				</ul>
			</div>
			</li> 
			<% end %>
			<%#= @game %>
			
		</div>
	</ul>
	<% end %>
	</div>
</main>
<script>
$(document).ready(function() {

	$('li').click(
		function(){
			$('.profile-info').animate({opacity:'toggle'}, 400);
	});
});

</script>

