
<header role="banner">
	<div class="container">
		<nav role="navigation"><%= icon('bars', '', class: 'fa-2x') %>
		<% if current_user %> Signed in as <%= current_user.name %><% end %>
	<div class="header-text">
		<span class="nerd">nerd</span><span class="pong">pong</span></div></nav>
	</div>
</header>
<main role="main">
	<div class="bracket">
	<% @game[1][0][0].each_slice(2) do |p| %>
	<ul>
		<div class="player-box">
			<% p.each do |e| %>
			<li>
				<%= image_tag(e.profile_image, class: 'profile-pic') %><br>
				<%=truncate(e.name, length:8) %>
			</li> 
			<% end %>
			<%#= @game %>
		</div>
	</ul>
	<% end %>
	</div>
</main>

