
<header role="banner">
		<div class="container">
			<nav role="navigation"><%= icon('bars', '', class: 'fa-2x') %>
<% if current_user %>
	Signed in as <%= current_user.name %>
<% end %>
			<div class="header-text">
			
			<span class="nerd">nerd</span><span class="pong">pong</span></div></nav>
		</div>
	</header>
	<main role="main">
		<div class="bracket">
			<%= @game %>
		</div>
	</main>

