<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Nerd Pong</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>
<body>

	<header role="banner">
		<div class="container">
			<nav role="navigation"><%= icon('bars', '', class: 'fa-2x') %>
<% if current_user %>
				Signed in as <%= current_user.name %>
			<% end %>
			<div class="header-text">
			
			<span class="nerd">nerd</span><span class="pong">pong</span></div></nav>
		</div>
	</header>
	<main role="main">
		<div class="container">
			<%=link_to image_tag('twittericon.png', class: 'twit'), '/auth/twitter'%>
		</div>
	</main>
	<footer>
		<div class="container"></div>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	

</body>
</html>