<div class="twitter-container">
	<%=link_to image_tag('twittericon.png'), '/auth/twitter', id: 'twit' %>
</div>

<div class="bottom-nav">
    <ul>
      <li class="active">1. Auth</li>
      <li>2. Edit</li>
      <li>3. Play</li>
    </ul>
</div>