.player-box {
	background-color: #666;
	width:150px;
	height: 80px;
	padding: 5px;
	border-radius: 15px;
	text-align: center;
	li {
		display: inline-block;
	}
}
.profile-pic {
	border-radius: 25px;
	max-width: 50px;

}