.bracket {
  white-space: nowrap;
}
.roundone {
	display: inline-block;
}
.roundtwo {
  margin: 0 0 0 -36px;
	display: inline-block;
  vertical-align: top;
  .player-box{
    margin-top: 70px;
    margin-bottom: 124px;
  }
}
.roundfinal {
  margin: 0 0 0 -36px;
  display: inline-block;
  vertical-align: top;
  .player-box{
    margin-top: 178px;
  }
}
.player-box {
	background-color: #666;
	width: 250px;
	height: 80px;
	padding: 5px;
	border-radius: 15px;
	text-align: center;
	li {
		display: inline-block;
		text-align: center;
	}
}
.modal{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 70%;
  width: 90%;
  max-width: 300px;
	background-color: #666;
  display: none;
  border-radius: 10px;
  border: 2px solid #fff;
  text-align: center;
  z-index: 999;
  #table{
    letter-spacing: 5px;
  }
  #modal-vs{
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
  }
  .modal-player-1 {
    display: inline-block;  
    width: 30%;
    .profile-pic-1 {
	    border-radius: 37.5px;
	    max-width: 75px;
	    padding-right: 5px;
    }
  }
  .modal-player-2 {
    display: inline-block;  
    width: 30%;
    .profile-pic-2 {
	    border-radius: 37.5px;
	    max-width: 75px;
	    padding-right: 5px;
    }
  }
}
.modal-player-score{
  #final{
    letter-spacing: 8px;
  }
  .input-fields{
    border: none;
    font-size: 40px;
    width: 60px;   
    height: 60px;
    color: #fff;
    background-color: #b3b3b3;
  }
  #input-submit{
    width: 80%;
    padding-top: 20px; 
    padding-bottom: 20px; 
    border: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 5px;
    background-color: #4B849F;
  }
}
.profile-pic-1 {
	border-radius: 25px;
	max-width: 50px;
	display: inline;
}
.profile-pic-2 {
	border-radius: 25px;
	max-width: 50px;
	display: inline;
}
.top-nav {
	position: relative;
	white-space: nowrap;
	z-index: -1;
	li {
		border-top: 3px solid rgba(192,192,192,0.3);
		width:260px;
		display: inline-block;
		padding-top: 10px;
		margin-right: 4px;
		text-indent: 12px;
	}
	li.active {
		border-top: 3px solid white;
	}
}
.vs {
	top: -40px;
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  padding: 0 5px;
}
