.bracket {
  white-space: nowrap;
}
.roundone {
	display: inline-block;
}
.roundtwo {
  margin: 0 0 0 -36px;
	display: inline-block;
  vertical-align: top;
  .player-box{
    margin-top: 70px;
    margin-bottom: 124px;
  }
}
.roundfinal {
  margin: 0 0 0 -36px;
  display: inline-block;
  vertical-align: top;
  .player-box{
    margin-top: 178px;
  }
}
.player-box {
	background-color: #666;
	width: 250px;
	height: 80px;
	padding: 5px;
	border-radius: 15px;
	text-align: center;
	li {
		display: inline-block;
		text-align: center;
	}
}
.modal{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 340px;
  height: 80%;
  width: 90%;
  max-width: 300px;
	background-color: #4a4a4a;
  display: none;
  border-radius: 10px;
  border: 2px solid #9f9f9f;
  text-align: center;
  z-index: 999;
  #table{
    letter-spacing: 5px;
    display: block;
    margin: 5% auto;
  }
  #modal-vs{
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
  }
  .modal-player-box {
    margin: 5px auto;
  }
  .modal-player {

    display: inline-block;  
    width: 30%;

    .profile-pic{
      display:block;
      margin: 0 auto;
      border-radius: 50%;
      max-width: 75px;
      padding-right: 5px;
    }
    .player-name {
      display:block;
      font-weight: 700;
    }
    .player-score {
      display:block;
      font-weight: 100;
      letter-spacing: -1px;
      font-size:12px;
    }
  }
  .close-modal {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 5%; 
  }
}
.modal-player-score{
  .margin: 6% auto 3%;
  text-align: center;

  #final{
    letter-spacing: 8px;
    margin-bottom: 5%;
    display: block;
  }
  ul { 
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    li { display: inline; }
  }

  form span { font-size:12px; text-align:center; }
  .input-fields{
    border: none;
    font-size: 40px;
    width: 60px;   
    height: 60px;
    color: #fff;
    background-color: #b3b3b3;
    text-align: center;
  }
  #input-submit{
    width: 80%;
    padding-top: 20px; 
    padding-bottom: 20px; 
    border: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 5px;
    background-color: #4B849F;
    display:block;
    margin: 6% auto 0
  }
}
.profile-pic-1 {
	border-radius: 25px;
	max-width: 50px;
	display: inline;
}
.profile-pic-2 {
	border-radius: 25px;
	max-width: 50px;
	display: inline;
}
.top-nav {
	position: relative;
	white-space: nowrap;
	z-index: -1;
	li {
		border-top: 3px solid rgba(192,192,192,0.3);
		width:260px;
		display: inline-block;
		padding-top: 10px;
		margin-right: 4px;
		text-indent: 12px;
	}
	li.active {
		border-top: 3px solid white;
	}
}
.vs {
	top: -40px;
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  padding: 0 5px;
}
