body {
	background: url(beerpongbg.jpg) no-repeat top;
	background-size: cover;
	min-height: 800px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
	
}
// Main Header Text
span.nerd {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 2em;
	}
	.pong {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 2em;
	}

.header-text{
	text-align: center;
}
// Container for mainpage
.container> a {
	margin: 0 auto;
	height: 40px;
	width:90%;
	}
.twit {

	position: absolute;
	top: 250px;
	margin: 0 auto;
	height: 40px;
	
	text-align: center;
}
#mask {
	width: 500%;
	height: 100%;
}