body#background {
	background: url(beerpongbg.jpg) no-repeat 50% 50% fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	
}
// Header size
header {
	min-width: 230px;
	padding-bottom: 20px;
}
// Main Header Text
span.nerd {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 2em;
	}
	.pong {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 2em;
	}

// Container for mainpage
.twitter-container{
	position: relative;
	top: 300px;
	width: 100%;
	padding-bottom: 255px;
	text-align: center;
	#twit a {
	margin: 0 auto;
	width:90%;

	}
}

#mask {
	width: 500%;
	height: 100%;
}

.header-text{
	text-align: center;
	z-index: -1;

}
@media (max-width: 768px) {
	.header-text {
		position: relative;
		left:10px;
		z-index: -1;
  	}	
}