.user-container {
	margin: 10% 2%;
	text-align: center;
}
.profile-img-lg {
	margin: 5px 0 20px 0;
	width: 150px;
	border-radius: 100px;
}
.update-btn, .play-btn {
	background-color: #4B849F;
	padding: 10px 12px;
	color: #fff;
	font-size: 12px; 
	letter-spacing: 8px;
	font-family: 'open sans';
	font-weight: 100;
	border: none;
}
.play-btn{
  margin-top: 5%;
}
.name-field {
	display: inline;
	.input-name {
		background-color: #BCBCBC;
		color: #666666;
		padding: 8px;
		border: none;
		font-size: 18px;
		vertical-align: top;
	}
}
.actions {display: inline;}

.bottom-nav {
  position: absolute;
  bottom: 20%;
  left: -10px;
	text-align: center;
	li {
		border-top: 3px solid rgba(192,192,192,0.3);
		width:100px;
		display: inline-block;
		text-align: center;
		color: rgba(192,192,192,0.3);
	}
	li.active {
		border-top: 3px solid white;
		color: #fff;
	}
}
