// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.already-authenticated {
  font-size: 3em;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}
